# Скопируй этот файл в .env и заполни значения

# URL подключения к PostgreSQL
DATABASE_URL=postgresql://user:password@postgres:5432/spamdb

# Название модели с Hugging Face
HF_MODEL=mrm8488/bert-tiny-finetuned-sms-spam-detection
